@media screen and (max-width:290px) {

  
.top-header {
  flex: 3;
}
.box {
  width: 100%;
}
.title01 img{
  width: 90%;
  max-width: 280px;
  min-width: 20px;
}
.middle {
  overflow: visible;
}
.middle-box-01 {
  width: 90%;
  margin-left: 4rem;
}
.middle-box-02 {
  width: 90%;
  margin-left: 4rem;
}
/* 280px以下の表示なんもわからん */

 
}